$menu-width: 100%;
$backgorund-color: #171618;
$color: #88fc03;
#nav {
    width: $menu-width;
    float: center;
    margin: 0 0 0 0;
    padding: 0;
    border-color: $color;
    border-style: solid;
    list-style: none;} 
#nav li a  {
        display: flex;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: $color}