$bg-color: #1D1F21;
body {
  background-color: $bg-color;   
}
.Menu {
    padding: 18px 20px;
   display: flex;
   align-items: flex-start;
   float: right;
  position: absolute;
    top: 0px;
    right: 0px;;
  }